<mtapp:setting
    id="xmlrpc_settings"
    hint="EndPoint, BlogID, Username, Password"
    show_hint="1"
    label="<__trans phrase="Settings">">
<textarea name="xmlrpc_settings" cols="60" rows="5"><TMPL_VAR NAME=XMLRPC_SETTINGS ESCAPE=HTML></textarea>
</mtapp:setting>
